examples/results/
examples/agents/monitored_A2C/monitor.csv
examples/agents/variable_episode_A2C/monitor.csv
*.pyc
*events.out.tfevents*
*model_*
*best_model.zip*
*monitor.csv*
*.pdf
*.prefs
examples/kpis/
*testing/boptest.zip
*testing/project1-boptest*
